/* Fix spacing for fixed nav bar */
body {
    padding-top: 57px;
}

/*
    Support window controls overlay
    Explainer: https://web.dev/window-controls-overlay/
*/

nav .container-fluid {
    margin-left: env(titlebar-area-x, 0);
    width: env(titlebar-area-width, 100%);
}

nav {
    -webkit-app-region: drag;
    app-region: drag;
}

nav a, nav button {
    -webkit-app-region: no-drag;
    app-region: no-drag;
}